In [1]:
import pandas as pd
import glob
from sqlalchemy import create_engine
from urllib.parse import quote
engine = create_engine("mysql://altrr_db:%s@192.168.0.20:1234/altrr_database"% quote("abcd"))

In [112]:
quary='SELECT * FROM altrr_database.tbl_telangana_igr where Doc_Id like "2022/%%%%%%%%%%%%%%%%";'
quary1='SELECT * FROM altrr_database.tbl_telangana_igr_basic_details where Doc_Id like "2022/%%%%%%%%%%%%%%%%";'
quary2='SELECT * FROM altrr_database.tbl_telangana_igr_party_details where Doc_Id like "2022/%%%%%%%%%%%%%%%%";'

In [113]:
col_d = pd.read_sql(quary, engine)

In [114]:
col_b = pd.read_sql(quary1, engine)

In [115]:
col_p = pd.read_sql(quary2, engine)

In [116]:
col_d

,Id,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,village,ward_no,west,Built_Up,House_No,Transaction_Details,ap_name,flat_no,CrDt,doc_id_copy
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,ABDULLAPUR,0,PLOT NO 107,None,None,None,None,None,2024-07-24 18:22:06,NaN
1,119073,2022/1-01-1401-1,0,None,HOSUE SITE,1,03-01-2022,25' ROAD,121 Y,PLOT NO 199,...,TANGAPUR,0,PLOT NO 209,None,None,None,None,None,2024-07-24 18:22:06,NaN
2,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,PULLUR,0,PLOT NO. 138,None,None,None,None,None,2024-07-24 18:22:06,NaN
3,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,UMMEDA,0,OPEN PLACE OF BUCCHA SEEMANNA,903 Sq.ft,4-66,None,None,None,2024-07-24 18:22:06,NaN
4,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,KOUTHALA,0,PLOT OF NAYIKINI SRINIVAS,,None,None,None,None,2024-07-24 18:22:06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217863,817248,2022/13417-1-1530-1,3,None,KEESARA,13417,26-10-2022,PLOT NO.85,200 Y,PLOT NO.115,...,KEESARA,3,30' WIDE ROAD,None,None,None,None,None,2024-09-10 19:43:08,NaN
217864,817249,2022/13417-1-2208-1,10,None,BURHANPURAM/ RAPARTHI NAGAR/RAMANAGUTTA,13417,03-11-2022,MUNICIPAL CORP. ROAD,100 Y,HOUSE OF R VENKATA RATNAM AND ROAD,...,KHAMMAM,11,HOUSE OF T SHANKAR,430 Sq.ft,11-10-809/87/A/25/A/1,None,None,None,2024-09-10 19:43:08,NaN
217865,817252,2022/13841-1-1514-1,6,None,BHAVANI NAGAR,13841,17-11-2022,OPEN TO SKY,27 Y,"CORRIDOR, STAIR CASE & FLAT NO. 202",...,SULTHANVALVA,9,OPEN TO SKY,878 Sq.ft,9-6-352/203,None,V'S KRISHNA SAI RESIDENCY,203,2024-09-10 19:43:15,NaN
217866,817254,2022/13417-1-2105-1,0,None,RESIDENTIAL AREA-1,13417,13-10-2022,33 FEET WIDE ROAD,103.59 Y,PLOT NO.21 (PART),...,MOGILICHERLA,1,PLOT NO. 12,None,None,None,None,None,2024-09-10 19:43:17,NaN
217867,817255,2022/13417-1-1413-1,8,None,KISANNAGAR / SHIVALAYAM GATE/RES/,13417,09-11-2022,BASEMENT ON PLOT NO 45,100 Y,20 FEET ROAD,...,MAHABUBNAGAR,4,HOUSE NO.4-8-61/3/D/5,150 Sq.ft,4-8-61/3/D,None,None,None,2024-09-10 19:43:17,NaN

In [117]:
col_b['Con_Value']=col_b['Con_Value'].str.extract(r'(\d+)')
col_b['Mkt_Value']=col_b['Mkt_Value'].str.extract(r'(\d+)')

In [118]:
col_b['Nature'] = col_b['Nature'].str.replace(r'\d+', '',regex=True)

In [119]:
col_b

,Con_Value,Description,Doc_Id,Encoded_html,Exe_Date,Mkt_Value,Name_of_Parties,Nature,Pres_Date,Reg_Date,SRO_Doct_No,Sr_no,Id,CrDt
0,61000,VILL/COL: TANGAPUR/HOSUE SITE W-B: 0-0 SURVEY...,2022/1-1-1401-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,60500,1.(EX)PURI VENKATESHWARULU 2.(CL)YARAKALI ASH...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[01] of SRO ACHAMPET,1.,None,2024-07-25 17:59:37
1,54000,VILL/COL: PULLUR/0 W-B: 0-0 SURVEY: 270/A 26...,2022/1-1-1402-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53332,1.(EX)SANNIDHI SRINIVASULU @ SANNITHI SRINIVAS...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ALAMPUR,1.,None,2024-07-25 17:59:37
2,135000,VILL/COL: ATMAKUR/VENKATESHWARA COLONY W-B: 0-...,2022/1-1-1403-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,135000,1.(EX)G.VENKATASWAMY 2.(CL)M.NARESH KUMAR,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ATMAKUR,1.,None,2024-07-25 17:59:37
3,54000,VILL/COL: THIMMAPUR/NIL W-B: 0-0 SURVEY: 463...,2022/1-1-1404-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53320,1.(EX)PATHI NARSIMHULU SETTY 2.(CL)U BEECHUPA...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO GADWAL,1.,None,2024-07-25 17:59:37
4,119000,VILL/COL: TADIKONDA/HOUSE SITE-1 W-B: 0-0 SUR...,2022/1-1-1405-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 24-12-2021,118000,1.(EX)THIRUNAGARI LAXMINARASIMHA MURTHY 2.(CL...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO JADCHERLA,1.,None,2024-07-25 17:59:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359021,600000,VILL/COL: NEMARUGOMULA/NEMARUGOMULA VILLAGE W-...,2022/999-1-2315-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 29-01-2022,600000,"1.(EX)SRI RENUKA REALTY, 2.(EX)N. SURESH KUMA...",Sale Deed,(P) 29-01-2022,(R) 29-01-2022,999/2022[01] of SRO BIBINAGAR,1.,None,2024-07-25 17:59:37
359022,NaN,nan,2022/999-1-2316-1,nan,nan,NaN,nan,nan,nan,nan,nan,nan,None,2024-07-25 17:59:37
359023,NaN,nan,2022/999-1-2317-1,nan,nan,NaN,nan,nan,nan,nan,nan,nan,None,2024-07-25 17:59:37
359024,NaN,nan,2022/999-1-2318-1,nan,nan,NaN,nan,nan,nan,nan,nan,nan,None,2024-07-25 17:59:37
359025,NaN,nan,2022/999-1-9999-1,nan,nan,NaN,nan,nan,nan,nan,nan,nan,None,2024-07-25 17:59:37

In [120]:
def split_name(name):
    try:
        if isinstance(name,str):
            return pd.Series(name.split("of SRO", 1))
        else:
            return None
    except:
        print(name)

In [121]:
col_b.dropna(subset=['Con_Value', 'Description', 'Encoded_html', 'Exe_Date',
       'Mkt_Value', 'Name_of_Parties', 'Nature', 'Pres_Date', 'Reg_Date',
       'SRO_Doct_No', 'Sr_no'],inplace=True)

In [122]:
col_b

,Con_Value,Description,Doc_Id,Encoded_html,Exe_Date,Mkt_Value,Name_of_Parties,Nature,Pres_Date,Reg_Date,SRO_Doct_No,Sr_no,Id,CrDt
0,61000,VILL/COL: TANGAPUR/HOSUE SITE W-B: 0-0 SURVEY...,2022/1-1-1401-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,60500,1.(EX)PURI VENKATESHWARULU 2.(CL)YARAKALI ASH...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[01] of SRO ACHAMPET,1.,None,2024-07-25 17:59:37
1,54000,VILL/COL: PULLUR/0 W-B: 0-0 SURVEY: 270/A 26...,2022/1-1-1402-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53332,1.(EX)SANNIDHI SRINIVASULU @ SANNITHI SRINIVAS...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ALAMPUR,1.,None,2024-07-25 17:59:37
2,135000,VILL/COL: ATMAKUR/VENKATESHWARA COLONY W-B: 0-...,2022/1-1-1403-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,135000,1.(EX)G.VENKATASWAMY 2.(CL)M.NARESH KUMAR,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ATMAKUR,1.,None,2024-07-25 17:59:37
3,54000,VILL/COL: THIMMAPUR/NIL W-B: 0-0 SURVEY: 463...,2022/1-1-1404-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53320,1.(EX)PATHI NARSIMHULU SETTY 2.(CL)U BEECHUPA...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO GADWAL,1.,None,2024-07-25 17:59:37
4,119000,VILL/COL: TADIKONDA/HOUSE SITE-1 W-B: 0-0 SUR...,2022/1-1-1405-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 24-12-2021,118000,1.(EX)THIRUNAGARI LAXMINARASIMHA MURTHY 2.(CL...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO JADCHERLA,1.,None,2024-07-25 17:59:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359017,399000,VILL/COL: NALGONDA (URBAN)/HILLOCK AREA W-B: 6...,2022/999-1-2311-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 22-01-2022,398650,1.(EX)BOBBALA SANGHAVI 2.(CL)SOMANABOINA NARS...,Rectification Deed,(P) 24-01-2022,(R) 24-01-2022,999/2022[1] of SRO NALGONDA (R.O),1.,None,2024-07-25 17:59:37
359018,1030000,VILL/COL: NAKREKAL/SHIVAJI NAGAR BACK SIDE W-B...,2022/999-1-2312-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 30-03-2022,1006605,1.(CL)SEELAM SRINIVASULU 2.(EX)SANKOJU UPENDAR,Sale Deed,(P) 30-03-2022,(R) 30-03-2022,999/2022[1] of SRO NAKREKAL,1.,None,2024-07-25 17:59:37
359019,225000,VILL/COL: TANGAD PALLE/TANGADPALLE VILLAGE W-B...,2022/999-1-2313-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 28-01-2022,225000,1.(EX)SURGI ANJAIAH 2.(CL)BOREM KARUNA,Sale Deed,(P) 28-01-2022,(R) 28-01-2022,999/2022[1] of SRO CHOUTUPPAL,1.,None,2024-07-25 17:59:37
359020,2000000,VILL/COL: CHANDUR/SHIVAJI NAGAR W-B: 0-13 SUR...,2022/999-1-2314-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 19-04-2022,187000,1.(MR)GADAGONI SWAPNA 2.(ME)UNION BANK OF IND...,Deposit of Title Deeds,(P) 19-04-2022,(R) 19-04-2022,999/2022[1] of SRO CHANDUR,1.,None,2024-07-25 17:59:37
359021,600000,VILL/COL: NEMARUGOMULA/NEMARUGOMULA VILLAGE W-...,2022/999-1-2315-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 29-01-2022,600000,"1.(EX)SRI RENUKA REALTY, 2.(EX)N. SURESH KUMA...",Sale Deed,(P) 29-01-2022,(R) 29-01-2022,999/2022[01] of SRO BIBINAGAR,1.,None,2024-07-25 17:59:37

In [123]:
# col_b[col_b['SRO_Doct_No'].str.contains('649/2024[1]',na=True)]

In [124]:
col_b['SRO_Doct_No'].value_counts

<bound method IndexOpsMixin.value_counts of 0                1/2022[01] of SRO ACHAMPET
1                  1/2022[1] of SRO ALAMPUR
2                  1/2022[1] of SRO ATMAKUR
3                   1/2022[1] of SRO GADWAL
4                1/2022[1] of SRO JADCHERLA
                        ...
359017    999/2022[1] of SRO NALGONDA (R.O)
359018          999/2022[1] of SRO NAKREKAL
359019        999/2022[1] of SRO CHOUTUPPAL
359020           999/2022[1] of SRO CHANDUR
359021        999/2022[01] of SRO BIBINAGAR
Name: SRO_Doct_No, Length: 290507, dtype: object>

In [125]:
# col_b['SRO_Doct_No'] = col_b['SRO_Doct_No'].str.split('SRO')[0]
col_b[['SRO_Code', 'SRO_Name']] = col_b['SRO_Doct_No'].apply(split_name)

In [126]:
col_b

,Con_Value,Description,Doc_Id,Encoded_html,Exe_Date,Mkt_Value,Name_of_Parties,Nature,Pres_Date,Reg_Date,SRO_Doct_No,Sr_no,Id,CrDt,SRO_Code,SRO_Name
0,61000,VILL/COL: TANGAPUR/HOSUE SITE W-B: 0-0 SURVEY...,2022/1-1-1401-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,60500,1.(EX)PURI VENKATESHWARULU 2.(CL)YARAKALI ASH...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[01] of SRO ACHAMPET,1.,None,2024-07-25 17:59:37,1/2022[01],ACHAMPET
1,54000,VILL/COL: PULLUR/0 W-B: 0-0 SURVEY: 270/A 26...,2022/1-1-1402-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53332,1.(EX)SANNIDHI SRINIVASULU @ SANNITHI SRINIVAS...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ALAMPUR,1.,None,2024-07-25 17:59:37,1/2022[1],ALAMPUR
2,135000,VILL/COL: ATMAKUR/VENKATESHWARA COLONY W-B: 0-...,2022/1-1-1403-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,135000,1.(EX)G.VENKATASWAMY 2.(CL)M.NARESH KUMAR,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO ATMAKUR,1.,None,2024-07-25 17:59:37,1/2022[1],ATMAKUR
3,54000,VILL/COL: THIMMAPUR/NIL W-B: 0-0 SURVEY: 463...,2022/1-1-1404-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 03-01-2022,53320,1.(EX)PATHI NARSIMHULU SETTY 2.(CL)U BEECHUPA...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO GADWAL,1.,None,2024-07-25 17:59:37,1/2022[1],GADWAL
4,119000,VILL/COL: TADIKONDA/HOUSE SITE-1 W-B: 0-0 SUR...,2022/1-1-1405-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 24-12-2021,118000,1.(EX)THIRUNAGARI LAXMINARASIMHA MURTHY 2.(CL...,Sale Deed,(P) 03-01-2022,(R) 03-01-2022,1/2022[1] of SRO JADCHERLA,1.,None,2024-07-25 17:59:37,1/2022[1],JADCHERLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359017,399000,VILL/COL: NALGONDA (URBAN)/HILLOCK AREA W-B: 6...,2022/999-1-2311-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 22-01-2022,398650,1.(EX)BOBBALA SANGHAVI 2.(CL)SOMANABOINA NARS...,Rectification Deed,(P) 24-01-2022,(R) 24-01-2022,999/2022[1] of SRO NALGONDA (R.O),1.,None,2024-07-25 17:59:37,999/2022[1],NALGONDA (R.O)
359018,1030000,VILL/COL: NAKREKAL/SHIVAJI NAGAR BACK SIDE W-B...,2022/999-1-2312-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 30-03-2022,1006605,1.(CL)SEELAM SRINIVASULU 2.(EX)SANKOJU UPENDAR,Sale Deed,(P) 30-03-2022,(R) 30-03-2022,999/2022[1] of SRO NAKREKAL,1.,None,2024-07-25 17:59:37,999/2022[1],NAKREKAL
359019,225000,VILL/COL: TANGAD PALLE/TANGADPALLE VILLAGE W-B...,2022/999-1-2313-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 28-01-2022,225000,1.(EX)SURGI ANJAIAH 2.(CL)BOREM KARUNA,Sale Deed,(P) 28-01-2022,(R) 28-01-2022,999/2022[1] of SRO CHOUTUPPAL,1.,None,2024-07-25 17:59:37,999/2022[1],CHOUTUPPAL
359020,2000000,VILL/COL: CHANDUR/SHIVAJI NAGAR W-B: 0-13 SUR...,2022/999-1-2314-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 19-04-2022,187000,1.(MR)GADAGONI SWAPNA 2.(ME)UNION BANK OF IND...,Deposit of Title Deeds,(P) 19-04-2022,(R) 19-04-2022,999/2022[1] of SRO CHANDUR,1.,None,2024-07-25 17:59:37,999/2022[1],CHANDUR
359021,600000,VILL/COL: NEMARUGOMULA/NEMARUGOMULA VILLAGE W-...,2022/999-1-2315-1,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,(E) 29-01-2022,600000,"1.(EX)SRI RENUKA REALTY, 2.(EX)N. SURESH KUMA...",Sale Deed,(P) 29-01-2022,(R) 29-01-2022,999/2022[01] of SRO BIBINAGAR,1.,None,2024-07-25 17:59:37,999/2022[01],BIBINAGAR

In [127]:
col_b = col_b.drop(['Exe_Date', 'Pres_Date','Reg_Date','Name_of_Parties','Sr_no','SRO_Doct_No'], axis=1)

In [128]:
col_2 = pd.merge(col_d, col_b, on="Doc_Id")

In [129]:
col_2

,Id_x,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,doc_id_copy,Con_Value,Description,Encoded_html,Mkt_Value,Nature,Id_y,CrDt_y,SRO_Code,SRO_Name
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,NaN,278000,VILL/COL: ABDULLAPUR/ABDULLAPUR W-B: 0-1 SURV...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,277500,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ABDULLAPURMET
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,NaN,54000,VILL/COL: PULLUR/0 W-B: 0-0 SURVEY: 270/A 26...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,53332,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ALAMPUR
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,NaN,1346174,VILL/COL: UMMEDA/RESIDENTIAL W-B: 0-4 HOUSE:...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,876504,Deposit of Title Deeds,None,2024-07-25 17:59:37,1/2022[1],ARMOOR
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,NaN,110000,VILL/COL: KOUTHALA/REST ALL W-B: 0-3 SURVEY: ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,108900,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ASIFABAD
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,NaN,135000,VILL/COL: ATMAKUR/VENKATESHWARA COLONY W-B: 0-...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,135000,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ATMAKUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20627,152753,2022/2180-1-1531-1,1,None,BATASINGARAM,2180,16-03-2022,30' WIDE ROAD,200 Y,40' WIDE ROAD,...,NaN,420000,VILL/COL: BATASINGARAM/BATASINGARAM W-B: 0-1 ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,420000,Sale Deed,None,2024-07-25 17:59:37,2180/2022[1],ABDULLAPURMET
20628,152754,2022/2180-1-1401-1,44,None,HOUSE SITE-1,2180,15-06-2022,ROAD,133.33 Y,PLOT NO 28,...,NaN,94000,VILL/COL: ACHAMPETA/HOUSE SITE-1 W-B: 0-44 SU...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,93331,Sale Deed,None,2024-07-25 17:59:37,2180/2022[1],ACHAMPET
20629,152756,2022/2180-1-1801-1,4,None,BUS STAND/,2180,08-03-2022,HOUSE OF POLKAM VENU GOPAL AND OTHERS,13.61 Y,SHOP NO 10 BEARING MUNICIPAL DOOR NO. 3-4-66/9,...,NaN,245000,VILL/COL: ARMUR/BUS STAND/ W-B: 3-4 HOUSE: 3...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,110250,Sale Deed,None,2024-07-25 17:59:37,2180/2022[1],ARMOOR
20630,152759,2022/2180-1-1901-1,16,None,IRFAN NAGAR/GOVT LABOUR WELFARE CENTRE QUARTE,2180,11-10-2022,ROAD,242 Y,LAND OF PATTEDAR,...,NaN,581000,VILL/COL: KAGAZ NAGAR/IRFAN NAGAR/GOVT LABOUR ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,580800,Sale Deed,None,2024-07-25 17:59:37,2180/2022[1],ASIFABAD
20631,152760,2022/2180-1-1403-1,23,None,ATMAKUR,2180,22-11-2022,20 FEET WIDE ROAD,330.83 Y,GOPAL HOUSE AND OPEN PLACE,...,NaN,655000,VILL/COL: ATMAKUR/ATMAKUR W-B: 0-23 HOUSE: 2...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,608159,Settlement in f/o others,None,2024-07-25 17:59:37,2180/2022[1],ATMAKUR

In [130]:
col_p.columns

Index(['id', 'Doc_Id', 'Capacity', 'Name', 'Relationship_Code',
       'Relationship_Name', 'CrDt'],
      dtype='object')

In [131]:
col_p=col_p[['Doc_Id', 'Capacity', 'Name', 'Relationship_Code',
       'Relationship_Name']]

In [132]:
vals_to_replace = {'EX':'Seller', 'CL':'Buyer', 'MR':'Seller','ME':'Buyer', 'DR':'Seller', 'DE':'Buyer','RR':'Seller', 'RE':'Buyer'
                  ,'LR':'Seller', 'LE':'Buyer','PL':'Seller', 'AY':'Buyer','FP':'Seller', 'SP':'Buyer'}

In [133]:
col_p['Party_Type'] = col_p['Capacity'].map(vals_to_replace)

In [134]:
col_p['Party_Type'].value_counts()

Party_Type
Seller    352952
Buyer     238501
Name: count, dtype: int64

In [135]:
col_p_1=col_p[['Doc_Id','Name','Party_Type']]

In [136]:
col_p_1

,Doc_Id,Name,Party_Type
0,2022/1-1-1531-1,SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,Seller
1,2022/1-1-1531-1,JOHN JACOB ALIAS JACOB JOHN JUDE,Seller
2,2022/1-1-1531-1,TEEGARAJU SRINIVAS(AGPA HOLDER),Seller
3,2022/1-1-1531-1,TAMMALI YADAGIRI,Buyer
4,2022/1-1-1402-1,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,Seller
...,...,...,...
591448,2022/13843-1-1525-1,JAGDISH SIKCHI,Buyer
591449,2022/13419-1-1503-1,YERRAMREDDY SRIDHAR REDDY,Seller
591450,2022/13419-1-1503-1,PASUNURI PANDU RANGA CHARY,Buyer
591451,2022/13419-1-1405-1,NUTULAGANTI YOGESH,Seller
591452,2022/13419-1-1405-1,M/S FIVE STAR BUSINESS FINANCE LTD BRANCH MBNR,Buyer

In [137]:
df1 = col_p_1.groupby(['Doc_Id','Party_Type'])['Name'].apply(list).reset_index(name='Name')

In [138]:
df=df1.pivot(index='Doc_Id',columns='Party_Type',values='Name').reset_index()

In [139]:
df.columns=['Doc_Id','Buyer','Seller']

In [140]:
df=df.reset_index(drop=True)

In [141]:
def join_words(x):
    if isinstance(x,list):
        return ','.join(x)
    return x

In [142]:
df['Buyer']=df['Buyer'].apply(lambda x:','.join(str(element) for element in x))
df['Seller']=df['Seller'].apply(lambda x:join_words(x))

In [143]:
df

,Doc_Id,Buyer,Seller
0,2022/1-1-1402-1,PALUTLA NARESH SRINIVAS,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU
1,2022/1-1-1403-1,M.NARESH KUMAR,G.VENKATASWAMY
2,2022/1-1-1531-1,TAMMALI YADAGIRI,"SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,JOHN J..."
3,2022/1-1-1801-1,THE FEDBANK FINANCIAL SERVICES LTD,BUKAP PRASHANTH
4,2022/1-1-1901-1,KHOBRAGADE UNEELA,VANAM SWETHA
...,...,...,...
193779,2022/9999-1-2103-1,GULAM MUSTAFA JUNAID BABA,KAREEMUNISSA BEGUM
193780,2022/9999-1-2208-1,DIRISALA LAVANYA KUMARI,BOINA SRIKANTH @ BOYANA SRIKANTH
193781,2022/9999-1-2301-1,SATPUTE LAKSHUMAN TATERAO,INCREDIBLE INDIA PROJECTS PVT LTD REP BY ITS S...
193782,2022/9999-1-2302-1,JATAVATH GEETHA,MADAGONI KRISHNAIAH
193783,2022/9999-1-2304-1,"S.B.I.KHAMMAM X ROAD BRANCH,KODAD",MUSUKU RAMANA REDDY

In [144]:
Final = pd.merge(col_2, df, on="Doc_Id")

In [145]:
Final

,Id_x,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,Description,Encoded_html,Mkt_Value,Nature,Id_y,CrDt_y,SRO_Code,SRO_Name,Buyer,Seller
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,VILL/COL: ABDULLAPUR/ABDULLAPUR W-B: 0-1 SURV...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,277500,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ABDULLAPURMET,TAMMALI YADAGIRI,"SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,JOHN J..."
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,VILL/COL: PULLUR/0 W-B: 0-0 SURVEY: 270/A 26...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,53332,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ALAMPUR,PALUTLA NARESH SRINIVAS,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,VILL/COL: UMMEDA/RESIDENTIAL W-B: 0-4 HOUSE:...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,876504,Deposit of Title Deeds,None,2024-07-25 17:59:37,1/2022[1],ARMOOR,THE FEDBANK FINANCIAL SERVICES LTD,BUKAP PRASHANTH
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,VILL/COL: KOUTHALA/REST ALL W-B: 0-3 SURVEY: ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,108900,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ASIFABAD,KHOBRAGADE UNEELA,VANAM SWETHA
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,VILL/COL: ATMAKUR/VENKATESHWARA COLONY W-B: 0-...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,135000,Sale Deed,None,2024-07-25 17:59:37,1/2022[1],ATMAKUR,M.NARESH KUMAR,G.VENKATASWAMY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,152735,2022/2178-1-1802-1,1,None,0,2178,01-09-2022,16 FEET WIDE PROPOSED ROAD,200.75 Y,OPEN PLACE OF VADLA NARSIMULU,...,VILL/COL: PITLAM/0 W-B: 0-1 SURVEY: 586 ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,220825,Deposit of Title Deeds,None,2024-07-25 17:59:37,2178/2022[1],BANSWADA,STATE BANK OF INDIA NEW BANSWADA BRANCH,DHAMARANCHA ANIL GOUD
20528,152736,2022/2178-1-1902-1,2,None,HASGUL-1,2178,04-06-2022,PLOT NO. 16,111.11 Y,PLOT NO. 8,...,VILL/COL: HASGUL/HASGUL-1 W-B: 0-2 SURVEY: 8...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,33333,Sale Deed,None,2024-07-25 17:59:37,2178/2022[1],BHAINSA,GORRELLU LAXMI BAI,MUSA MAULLA KHURESHI
20529,152737,2022/2178-1-2001-1,0,None,GRAMAKANTAM,2178,18-07-2022,30'-0'' FEET WIDE ROAD,247.81 Y,PLOT OF VENDOR,...,VILL/COL: UNIKICHERLA/GRAMAKANTAM W-B: 0-0 SU...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,223029,Sale Deed,None,2024-07-25 17:59:37,2178/2022[1],BHEEMADEVARPALLY,BOLLAM THIRUPATHI,"SILIVERI POORNA CHANDAR RAO (P),JANAGANI SHANK..."
20530,152738,2022/2178-1-1803-1,0,None,GRAMAKANTAM,2178,27-04-2022,COMMON WAY AND PLOT OF BANDI BAJANNA,213.66 Y,G.P.ROAD,...,VILL/COL: UPLOOR/GRAMAKANTAM W-B: 0-0 SURVEY:...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,106830,Sale Deed,None,2024-07-25 17:59:37,2178/2022[1],BHEEMGAL,BANDI JYOTHI,"BANDI SAYANNA,BANDI SRINIVAS,KONDUR PADMA"
20531,152740,2022/2178-1-2301-1,0,None,RAYAGIRI VILLAGE,2178,12-02-2022,PLOT NO 79,200 Y,PLOT NO 67,...,VILL/COL: RAYAGIRI/RAYAGIRI VILLAGE W-B: 0-0 ...,b'CjxodG1sPgo8aGVhZD4KPHNjcmlwdCBsYW5ndWFnZT0i...,420000,Sale Deed,None,2024-07-25 17:59:37,2178/2022[1],BHONGIRI,KANNASANI NARESH KIRAN,"NAGARANI SRINIVAS RAO (PRINCIPAL),KARNATI RAMI..."

In [146]:
# from urllib.parse import quote
# import urllib3
# urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
# from sqlalchemy import create_engine

# engine = create_engine("mysql://altrr_db:%s@192.168.0.20:3306/altrr_database"% quote("Altrr@2024"))

In [147]:
# quary1='SELECT * FROM tbl_telangana_final_igr limit 10;'

In [148]:
# data = pd.read_sql(quary1, engine)

In [149]:
# df1=pd.read_excel(r'C:\Users\pc\‪Telangan_sample.xlsx')

In [150]:
df=Final.copy()

In [151]:
Commercial=['office', 'shop', ' mall ', 'shopping complex', 'shopping', 'plaza','office space','commercial complex',
           'commercial building','retail space', 'showroom', 'business park', 'it park', 'warehouse', 'commercial plot', 'commercial']
Residential=['bunglow', 'housing', 'co-operative', 'apartment', 'flat', 'residency', 'house',
            'villa', 'independent house', 'residential plot', 'residential building', 'housing project',
            'gated community', 'township', 'residential complex', 'residential']
Plot=['plot']
data=[]
for i in df['Description']:
    if isinstance(i,str):
        if any(word in i.lower() for word in Commercial):
            data.append('Commercial')
        elif any(word in i.lower() for word in Residential):
            data.append('Residential')
        elif any(word in i.lower() for word in Plot):
            data.append('Plot')
        else:
            data.append('')
    else:
        data.append('')
df['Property_Type']=data

In [152]:
df['Description'][0]

"VILL/COL: ABDULLAPUR/ABDULLAPUR W-B: 0-1  SURVEY:  26 27 28 29 60  PLOT:  108/W/P      EXTENT: 185SQ.Yds   Boundires: [N]: 33' WIDE ROAD [S] PLOT NO 109 [E]: PLOT NO 108 EASTERN PART [W]: PLOT NO 107"

In [153]:
df['Description']=df['Description'].str.lower()
df['Description'][0]

"vill/col: abdullapur/abdullapur w-b: 0-1  survey:  26 27 28 29 60  plot:  108/w/p      extent: 185sq.yds   boundires: [n]: 33' wide road [s] plot no 109 [e]: plot no 108 eastern part [w]: plot no 107"

In [154]:
import re
df['Description']=df['Description'].str.replace('boundires: ', ' boundires:')

In [155]:
df['Description'][8890]

'vill/col: bhainsa/madina colony w-b: 3-5   house: 3-5-1/34/a     extent: 111.11sq.yds  built: 1000sq. ft   boundires:[n]: road. [s] house of neighbours. [e]: road. [w]: house of m a samad'

In [156]:
#floor, wing, flr

In [157]:
df['Description']=df['Description'].str.replace(' flr ', ' floor ')

In [158]:
#df['Description']=df['Description'].str.replace('wing', ' wing ')

In [159]:
def find_patterns(variable,cell):
    found_patterns=[]
    for pattern in variable:
        match=re.search(pattern,cell)
        if match:
            found_patterns.append(match.group(0))
            break
        else:
            pass
    final=''.join(found_patterns)
    return final

In [160]:
wing=[r'([a-zA-Z\d+]+\s*)\swing', r'wing\s([a-zA-Z\d+]+\s*)']

In [161]:
df['wing']=df['Description'].apply(lambda x: find_patterns(wing,str(x)))

In [162]:
df['wing'].value_counts()

wing
              20531
wing room         1
Name: count, dtype: int64

In [163]:
floor=[r'([a-zA-Z\d]+\s*)\sfloor', r'floor\s([a-zA-Z\d]+\s*)']

In [164]:
df['floor']=df['Description'].apply(lambda x: find_patterns(floor,str(x)))

In [165]:
df['floor'].value_counts()

floor
                20496
second floor       10
first floor         8
gr floor            4
ground floor        3
2nd floor           3
1st floor           2
third floor         1
5th floor           1
firts floor         1
fifth floor         1
of floor            1
gournd floor        1
Name: count, dtype: int64

In [166]:
# df['Party_combined']=df['Buyer']+' '+df['Seller']
# df['Party_combined']=df['Party_combined'].str.lower()

In [167]:
# Expanded keywords indicating a company
company_keywords = [
    'm/s',
    "llc",
    "inc.",
    "corp.",
    "ltd.",
    "llp",
    "co.",
    "enterprises",
    "holdings",
    "partners",
    "ceo",
    "cfo",
    "managing director",
    "sales manager",
    "procurement officer",
    "operations manager",
    "company.com",
    "suite",
    "floor",
    "purchase order",
    "business invoice",
    "corporate accounts",
    "b2b",
    "corporate policies",
    "vendor",
    "supplier",
    "firm",
    "agency",
    "organization",
    "association",
    "foundation",
    "business",
    "corporation",
    "trading",
    "importer",
    "exporter",
    "consulting",
    "service",
    "contractor",
    "multinational",
    "subsidiary",
    "parent company",
    "ltd",
    'limited',
    'bank'
]

# Expanded keywords indicating an individual
individual_keywords = [
    "mr.",
    "mrs.",
    "owner",
    "independent consultant",
    "freelancer",
    "sole proprietor",
    "gmail.com",
    "yahoo.com",
    "home address",
    "personal check",
    "individual invoice",
    "personal account",
    "b2c",
    "personal accounts",
    "social security number",
    "itin",
    "self-employed",
    "contractor",
    "sole trader",
    "independent worker",
    "consultant",
    "entrepreneur",
    "personal business",
    "private individual",
    "home office",
    "self-employed person",
    "individual contributor"
]

In [168]:
df['First_Seller']=df['Seller'].apply(lambda x:''.join(str(x).split(',')[0]))

In [169]:
df['First_Seller']

0            SONIA JACOB ALIAS JACOB SONIA JOHN JUDE
1        SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU
2                                   BUKAP PRASHANTH
3                                       VANAM SWETHA
4                                     G.VENKATASWAMY
                            ...
20527                          DHAMARANCHA ANIL GOUD
20528                           MUSA MAULLA KHURESHI
20529                SILIVERI POORNA CHANDAR RAO (P)
20530                                  BANDI SAYANNA
20531              NAGARANI SRINIVAS RAO (PRINCIPAL)
Name: First_Seller, Length: 20532, dtype: object

In [170]:
df['First_Buyer']=df['Buyer'].apply(lambda x:''.join(str(x).split(',')[0]))

In [171]:
df['First_Buyer']

0                               TAMMALI YADAGIRI
1                        PALUTLA NARESH SRINIVAS
2            THE FEDBANK FINANCIAL SERVICES LTD
3                              KHOBRAGADE UNEELA
4                                 M.NARESH KUMAR
                          ...
20527    STATE BANK OF INDIA NEW BANSWADA BRANCH
20528                         GORRELLU LAXMI BAI
20529                          BOLLAM THIRUPATHI
20530                               BANDI JYOTHI
20531                     KANNASANI NARESH KIRAN
Name: First_Buyer, Length: 20532, dtype: object

In [172]:
data=[]
for i in df['First_Buyer']:
    if isinstance(i,str):
        if any(word in i.lower() for word in company_keywords):
            data.append('Company')
        elif any(word in i.lower() for word in individual_keywords):
            data.append('Individual')
        else:
            data.append('Individual')
    else:
        data.append('')
df['Buyer_Type']=data

In [173]:
df['Buyer_Type'].value_counts()

Buyer_Type
Individual    18081
Company        2451
Name: count, dtype: int64

In [174]:
data=[]
for i in df['First_Seller']:
    if isinstance(i,str):
        if any(word in i.lower() for word in company_keywords):
            data.append('Company')
        elif any(word in i.lower() for word in individual_keywords):
            data.append('Individual')
        else:
            data.append('Individual')
    else:
        data.append('')
df['Seller_Type']=data

In [175]:
df['Seller_Type'].value_counts()

Seller_Type
Individual    19215
Company        1317
Name: count, dtype: int64

In [176]:
df.columns

Index(['Id_x', 'Doc_Id', 'block_no', 'new_tablecol', 'colony', 'doct_no',
       'Execution_Date', 'east', 'Extent', 'north', 'page_no', 'hNo',
       'jurisdiction', 'pNo', 'Presentation_Date', 'Plot', 'reg_year',
       'Registration_Date', 'req_no', 'schedule_no', 'south', 'sr_code',
       'Survey_No', 'syNo', 'totalRecords', 'village', 'ward_no', 'west',
       'Built_Up', 'House_No', 'Transaction_Details', 'ap_name', 'flat_no',
       'CrDt_x', 'doc_id_copy', 'Con_Value', 'Description', 'Encoded_html',
       'Mkt_Value', 'Nature', 'Id_y', 'CrDt_y', 'SRO_Code', 'SRO_Name',
       'Buyer', 'Seller', 'Property_Type', 'wing', 'floor', 'First_Seller',
       'First_Buyer', 'Buyer_Type', 'Seller_Type'],
      dtype='object')

In [177]:
df.replace('',None,inplace=True)

In [178]:
df

,Id_x,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,SRO_Name,Buyer,Seller,Property_Type,wing,floor,First_Seller,First_Buyer,Buyer_Type,Seller_Type
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,ABDULLAPURMET,TAMMALI YADAGIRI,"SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,JOHN J...",Plot,None,None,SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,TAMMALI YADAGIRI,Individual,Individual
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,ALAMPUR,PALUTLA NARESH SRINIVAS,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,Plot,None,None,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,PALUTLA NARESH SRINIVAS,Individual,Individual
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,ARMOOR,THE FEDBANK FINANCIAL SERVICES LTD,BUKAP PRASHANTH,Residential,None,None,BUKAP PRASHANTH,THE FEDBANK FINANCIAL SERVICES LTD,Company,Individual
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,ASIFABAD,KHOBRAGADE UNEELA,VANAM SWETHA,Plot,None,None,VANAM SWETHA,KHOBRAGADE UNEELA,Individual,Individual
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,ATMAKUR,M.NARESH KUMAR,G.VENKATASWAMY,Plot,None,None,G.VENKATASWAMY,M.NARESH KUMAR,Individual,Individual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,152735,2022/2178-1-1802-1,1,None,0,2178,01-09-2022,16 FEET WIDE PROPOSED ROAD,200.75 Y,OPEN PLACE OF VADLA NARSIMULU,...,BANSWADA,STATE BANK OF INDIA NEW BANSWADA BRANCH,DHAMARANCHA ANIL GOUD,None,None,None,DHAMARANCHA ANIL GOUD,STATE BANK OF INDIA NEW BANSWADA BRANCH,Company,Individual
20528,152736,2022/2178-1-1902-1,2,None,HASGUL-1,2178,04-06-2022,PLOT NO. 16,111.11 Y,PLOT NO. 8,...,BHAINSA,GORRELLU LAXMI BAI,MUSA MAULLA KHURESHI,Plot,None,None,MUSA MAULLA KHURESHI,GORRELLU LAXMI BAI,Individual,Individual
20529,152737,2022/2178-1-2001-1,0,None,GRAMAKANTAM,2178,18-07-2022,30'-0'' FEET WIDE ROAD,247.81 Y,PLOT OF VENDOR,...,BHEEMADEVARPALLY,BOLLAM THIRUPATHI,"SILIVERI POORNA CHANDAR RAO (P),JANAGANI SHANK...",Plot,None,None,SILIVERI POORNA CHANDAR RAO (P),BOLLAM THIRUPATHI,Individual,Individual
20530,152738,2022/2178-1-1803-1,0,None,GRAMAKANTAM,2178,27-04-2022,COMMON WAY AND PLOT OF BANDI BAJANNA,213.66 Y,G.P.ROAD,...,BHEEMGAL,BANDI JYOTHI,"BANDI SAYANNA,BANDI SRINIVAS,KONDUR PADMA",Plot,None,None,BANDI SAYANNA,BANDI JYOTHI,Individual,Individual
20531,152740,2022/2178-1-2301-1,0,None,RAYAGIRI VILLAGE,2178,12-02-2022,PLOT NO 79,200 Y,PLOT NO 67,...,BHONGIRI,KANNASANI NARESH KIRAN,"NAGARANI SRINIVAS RAO (PRINCIPAL),KARNATI RAMI...",Residential,None,None,NAGARANI SRINIVAS RAO (PRINCIPAL),KANNASANI NARESH KIRAN,Individual,Individual

In [179]:
col_chk=['ap_name','flat_no', 'floor', 'Mkt_Value', 'Con_Value', 'Registration_Date', 'Property_Type', 'Nature', 'Built_Up', 'Buyer', 'Seller','First_Buyer',
        'First_Seller', 'Buyer_Type', 'Seller_Type']

In [180]:
df['floor'].unique()

array([None, 'first floor', 'third floor', 'second floor', 'gr floor',
       'ground floor', '1st floor', '2nd floor', '5th floor',
       'firts floor', 'fifth floor', 'of floor', 'gournd floor'],
      dtype=object)

In [181]:
def flag_rows_specific_columns(df, columns):
    # Check if all values in the specified columns are non-null
    return df[columns].notnull().all(axis=1).astype(int)

# Apply the function and create the 'Flag' column
df['Flag'] = flag_rows_specific_columns(df, col_chk)

In [182]:
df['Flag'].value_counts()

Flag
0    20532
Name: count, dtype: int64

In [183]:
df.columns

Index(['Id_x', 'Doc_Id', 'block_no', 'new_tablecol', 'colony', 'doct_no',
       'Execution_Date', 'east', 'Extent', 'north', 'page_no', 'hNo',
       'jurisdiction', 'pNo', 'Presentation_Date', 'Plot', 'reg_year',
       'Registration_Date', 'req_no', 'schedule_no', 'south', 'sr_code',
       'Survey_No', 'syNo', 'totalRecords', 'village', 'ward_no', 'west',
       'Built_Up', 'House_No', 'Transaction_Details', 'ap_name', 'flat_no',
       'CrDt_x', 'doc_id_copy', 'Con_Value', 'Description', 'Encoded_html',
       'Mkt_Value', 'Nature', 'Id_y', 'CrDt_y', 'SRO_Code', 'SRO_Name',
       'Buyer', 'Seller', 'Property_Type', 'wing', 'floor', 'First_Seller',
       'First_Buyer', 'Buyer_Type', 'Seller_Type', 'Flag'],
      dtype='object')

In [184]:
df

,Id_x,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,Buyer,Seller,Property_Type,wing,floor,First_Seller,First_Buyer,Buyer_Type,Seller_Type,Flag
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,TAMMALI YADAGIRI,"SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,JOHN J...",Plot,None,None,SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,TAMMALI YADAGIRI,Individual,Individual,0
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,PALUTLA NARESH SRINIVAS,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,Plot,None,None,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,PALUTLA NARESH SRINIVAS,Individual,Individual,0
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,THE FEDBANK FINANCIAL SERVICES LTD,BUKAP PRASHANTH,Residential,None,None,BUKAP PRASHANTH,THE FEDBANK FINANCIAL SERVICES LTD,Company,Individual,0
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,KHOBRAGADE UNEELA,VANAM SWETHA,Plot,None,None,VANAM SWETHA,KHOBRAGADE UNEELA,Individual,Individual,0
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,M.NARESH KUMAR,G.VENKATASWAMY,Plot,None,None,G.VENKATASWAMY,M.NARESH KUMAR,Individual,Individual,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,152735,2022/2178-1-1802-1,1,None,0,2178,01-09-2022,16 FEET WIDE PROPOSED ROAD,200.75 Y,OPEN PLACE OF VADLA NARSIMULU,...,STATE BANK OF INDIA NEW BANSWADA BRANCH,DHAMARANCHA ANIL GOUD,None,None,None,DHAMARANCHA ANIL GOUD,STATE BANK OF INDIA NEW BANSWADA BRANCH,Company,Individual,0
20528,152736,2022/2178-1-1902-1,2,None,HASGUL-1,2178,04-06-2022,PLOT NO. 16,111.11 Y,PLOT NO. 8,...,GORRELLU LAXMI BAI,MUSA MAULLA KHURESHI,Plot,None,None,MUSA MAULLA KHURESHI,GORRELLU LAXMI BAI,Individual,Individual,0
20529,152737,2022/2178-1-2001-1,0,None,GRAMAKANTAM,2178,18-07-2022,30'-0'' FEET WIDE ROAD,247.81 Y,PLOT OF VENDOR,...,BOLLAM THIRUPATHI,"SILIVERI POORNA CHANDAR RAO (P),JANAGANI SHANK...",Plot,None,None,SILIVERI POORNA CHANDAR RAO (P),BOLLAM THIRUPATHI,Individual,Individual,0
20530,152738,2022/2178-1-1803-1,0,None,GRAMAKANTAM,2178,27-04-2022,COMMON WAY AND PLOT OF BANDI BAJANNA,213.66 Y,G.P.ROAD,...,BANDI JYOTHI,"BANDI SAYANNA,BANDI SRINIVAS,KONDUR PADMA",Plot,None,None,BANDI SAYANNA,BANDI JYOTHI,Individual,Individual,0
20531,152740,2022/2178-1-2301-1,0,None,RAYAGIRI VILLAGE,2178,12-02-2022,PLOT NO 79,200 Y,PLOT NO 67,...,KANNASANI NARESH KIRAN,"NAGARANI SRINIVAS RAO (PRINCIPAL),KARNATI RAMI...",Residential,None,None,NAGARANI SRINIVAS RAO (PRINCIPAL),KANNASANI NARESH KIRAN,Individual,Individual,0

In [185]:
df=df.drop_duplicates(subset='Doc_Id', keep='first')

In [186]:
df

,Id_x,Doc_Id,block_no,new_tablecol,colony,doct_no,Execution_Date,east,Extent,north,...,Buyer,Seller,Property_Type,wing,floor,First_Seller,First_Buyer,Buyer_Type,Seller_Type,Flag
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,TAMMALI YADAGIRI,"SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,JOHN J...",Plot,None,None,SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,TAMMALI YADAGIRI,Individual,Individual,0
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,PALUTLA NARESH SRINIVAS,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,Plot,None,None,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,PALUTLA NARESH SRINIVAS,Individual,Individual,0
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,THE FEDBANK FINANCIAL SERVICES LTD,BUKAP PRASHANTH,Residential,None,None,BUKAP PRASHANTH,THE FEDBANK FINANCIAL SERVICES LTD,Company,Individual,0
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,KHOBRAGADE UNEELA,VANAM SWETHA,Plot,None,None,VANAM SWETHA,KHOBRAGADE UNEELA,Individual,Individual,0
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,M.NARESH KUMAR,G.VENKATASWAMY,Plot,None,None,G.VENKATASWAMY,M.NARESH KUMAR,Individual,Individual,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,152735,2022/2178-1-1802-1,1,None,0,2178,01-09-2022,16 FEET WIDE PROPOSED ROAD,200.75 Y,OPEN PLACE OF VADLA NARSIMULU,...,STATE BANK OF INDIA NEW BANSWADA BRANCH,DHAMARANCHA ANIL GOUD,None,None,None,DHAMARANCHA ANIL GOUD,STATE BANK OF INDIA NEW BANSWADA BRANCH,Company,Individual,0
20528,152736,2022/2178-1-1902-1,2,None,HASGUL-1,2178,04-06-2022,PLOT NO. 16,111.11 Y,PLOT NO. 8,...,GORRELLU LAXMI BAI,MUSA MAULLA KHURESHI,Plot,None,None,MUSA MAULLA KHURESHI,GORRELLU LAXMI BAI,Individual,Individual,0
20529,152737,2022/2178-1-2001-1,0,None,GRAMAKANTAM,2178,18-07-2022,30'-0'' FEET WIDE ROAD,247.81 Y,PLOT OF VENDOR,...,BOLLAM THIRUPATHI,"SILIVERI POORNA CHANDAR RAO (P),JANAGANI SHANK...",Plot,None,None,SILIVERI POORNA CHANDAR RAO (P),BOLLAM THIRUPATHI,Individual,Individual,0
20530,152738,2022/2178-1-1803-1,0,None,GRAMAKANTAM,2178,27-04-2022,COMMON WAY AND PLOT OF BANDI BAJANNA,213.66 Y,G.P.ROAD,...,BANDI JYOTHI,"BANDI SAYANNA,BANDI SRINIVAS,KONDUR PADMA",Plot,None,None,BANDI SAYANNA,BANDI JYOTHI,Individual,Individual,0
20531,152740,2022/2178-1-2301-1,0,None,RAYAGIRI VILLAGE,2178,12-02-2022,PLOT NO 79,200 Y,PLOT NO 67,...,KANNASANI NARESH KIRAN,"NAGARANI SRINIVAS RAO (PRINCIPAL),KARNATI RAMI...",Residential,None,None,NAGARANI SRINIVAS RAO (PRINCIPAL),KANNASANI NARESH KIRAN,Individual,Individual,0

In [187]:
#Final.to_excel(r'‪Telangan_sample.xlsx')

In [188]:
df.columns

Index(['Id_x', 'Doc_Id', 'block_no', 'new_tablecol', 'colony', 'doct_no',
       'Execution_Date', 'east', 'Extent', 'north', 'page_no', 'hNo',
       'jurisdiction', 'pNo', 'Presentation_Date', 'Plot', 'reg_year',
       'Registration_Date', 'req_no', 'schedule_no', 'south', 'sr_code',
       'Survey_No', 'syNo', 'totalRecords', 'village', 'ward_no', 'west',
       'Built_Up', 'House_No', 'Transaction_Details', 'ap_name', 'flat_no',
       'CrDt_x', 'doc_id_copy', 'Con_Value', 'Description', 'Encoded_html',
       'Mkt_Value', 'Nature', 'Id_y', 'CrDt_y', 'SRO_Code', 'SRO_Name',
       'Buyer', 'Seller', 'Property_Type', 'wing', 'floor', 'First_Seller',
       'First_Buyer', 'Buyer_Type', 'Seller_Type', 'Flag'],
      dtype='object')

In [189]:
df.rename(columns={'Id_x':'Id'},inplace=True)

In [190]:
drops=['Id_y', 'CrDt_y']
# drops=['Id_x']

In [191]:
df=df.drop(drops,axis=1)

In [192]:
df['floor']=df['floor'].str.replace('floor', '')

In [193]:
df['city']='Hyderabad'

In [194]:
df['State']='Telangana'

In [195]:
df=df.rename(columns={'city':'City'})

In [196]:
df.columns

Index(['Id', 'Doc_Id', 'block_no', 'new_tablecol', 'colony', 'doct_no',
       'Execution_Date', 'east', 'Extent', 'north', 'page_no', 'hNo',
       'jurisdiction', 'pNo', 'Presentation_Date', 'Plot', 'reg_year',
       'Registration_Date', 'req_no', 'schedule_no', 'south', 'sr_code',
       'Survey_No', 'syNo', 'totalRecords', 'village', 'ward_no', 'west',
       'Built_Up', 'House_No', 'Transaction_Details', 'ap_name', 'flat_no',
       'CrDt_x', 'doc_id_copy', 'Con_Value', 'Description', 'Encoded_html',
       'Mkt_Value', 'Nature', 'SRO_Code', 'SRO_Name', 'Buyer', 'Seller',
       'Property_Type', 'wing', 'floor', 'First_Seller', 'First_Buyer',
       'Buyer_Type', 'Seller_Type', 'Flag', 'City', 'State'],
      dtype='object')

In [197]:
df=df.rename(columns={'block_no':'Block_no', 'new_tablecol':'New_tablecol', 'colony':'Colony', 'doct_no':'Doct_no',
                       'east':'East', 'north':'North', 'page_no':'Page_no', 'hNo':'Hno', 'jurisdiction':'Jurisdiction',
                       'pNo':'Pno', 'reg_year':'Reg_year', 'req_no':'Req_no', 'schedule_no':'Schedule_no', 'south':'South',
                       'sr_code':'Sr_code', 'syNo':'SyNo', 'totalRecords':'TotalRecords', 'village':'Village', 'ward_no':'Ward_no',
                       'west':'West', 'ap_name':'Ap_name', 'flat_no':'Flat_no', 'wing':'Wing', 'floor':'Floor','CrDt_x':'CrDt'})

In [198]:
df

,Id,Doc_Id,Block_no,New_tablecol,Colony,Doct_no,Execution_Date,East,Extent,North,...,Property_Type,Wing,Floor,First_Seller,First_Buyer,Buyer_Type,Seller_Type,Flag,City,State
0,119070,2022/1-1-1531-1,1,None,ABDULLAPUR,1,03-01-2022,PLOT NO 108 EASTERN PART,185 Y,33' WIDE ROAD,...,Plot,None,None,SONIA JACOB ALIAS JACOB SONIA JOHN JUDE,TAMMALI YADAGIRI,Individual,Individual,0,Hyderabad,Telangana
1,119074,2022/1-1-1402-1,0,None,0,1,03-01-2022,33 FEET WIDE ROAD,133.33 Y,PLOT NO. 142,...,Plot,None,None,SANNIDHI SRINIVASULU @ SANNITHI SRINIVASULU,PALUTLA NARESH SRINIVAS,Individual,Individual,0,Hyderabad,Telangana
2,119076,2022/1-1-1801-1,4,None,RESIDENTIAL,1,03-01-2022,24-0 WIDE G P ROAD,212.32 Y,HOUSE OF BUKA VENKATA SWAMI,...,Residential,None,None,BUKAP PRASHANTH,THE FEDBANK FINANCIAL SERVICES LTD,Company,Individual,0,Hyderabad,Telangana
3,119077,2022/1-1-1901-1,3,None,REST ALL,1,03-01-2022,PLOT OF JADE HARIDAS,363 Y,12 FEETS WIDE ROAD (NEAR H.NO.3-25/1),...,Plot,None,None,VANAM SWETHA,KHOBRAGADE UNEELA,Individual,Individual,0,Hyderabad,Telangana
4,119078,2022/1-1-1403-1,23,None,VENKATESHWARA COLONY,1,03-01-2022,PLOT NO.241,150 Y,PLOT NO.246,...,Plot,None,None,G.VENKATASWAMY,M.NARESH KUMAR,Individual,Individual,0,Hyderabad,Telangana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20527,152735,2022/2178-1-1802-1,1,None,0,2178,01-09-2022,16 FEET WIDE PROPOSED ROAD,200.75 Y,OPEN PLACE OF VADLA NARSIMULU,...,None,None,None,DHAMARANCHA ANIL GOUD,STATE BANK OF INDIA NEW BANSWADA BRANCH,Company,Individual,0,Hyderabad,Telangana
20528,152736,2022/2178-1-1902-1,2,None,HASGUL-1,2178,04-06-2022,PLOT NO. 16,111.11 Y,PLOT NO. 8,...,Plot,None,None,MUSA MAULLA KHURESHI,GORRELLU LAXMI BAI,Individual,Individual,0,Hyderabad,Telangana
20529,152737,2022/2178-1-2001-1,0,None,GRAMAKANTAM,2178,18-07-2022,30'-0'' FEET WIDE ROAD,247.81 Y,PLOT OF VENDOR,...,Plot,None,None,SILIVERI POORNA CHANDAR RAO (P),BOLLAM THIRUPATHI,Individual,Individual,0,Hyderabad,Telangana
20530,152738,2022/2178-1-1803-1,0,None,GRAMAKANTAM,2178,27-04-2022,COMMON WAY AND PLOT OF BANDI BAJANNA,213.66 Y,G.P.ROAD,...,Plot,None,None,BANDI SAYANNA,BANDI JYOTHI,Individual,Individual,0,Hyderabad,Telangana
20531,152740,2022/2178-1-2301-1,0,None,RAYAGIRI VILLAGE,2178,12-02-2022,PLOT NO 79,200 Y,PLOT NO 67,...,Residential,None,None,NAGARANI SRINIVAS RAO (PRINCIPAL),KANNASANI NARESH KIRAN,Individual,Individual,0,Hyderabad,Telangana

In [199]:
df.to_csv('Telangana Final.csv', index=False)

In [200]:
df=df.rename(columns={'Doc_Id':'Document_No', 'Colony':'Locality', 'Survey_No':'Address', 'Village':'Village_Name',
                     'Built_Up':'Chargeable_Area', 'House_No':'Plot_No', 'Con_Value':'Compensation',
                     'Description':'Property_Description', 'Mkt_Value':'Market_Price', 'Nature':'Document_Name',
                     'Flat_no':'Unit_No', 'Property_Type':'Building_Type', 'Floor':'Floor_No', 'Ap_name':'Building_Name'})

In [201]:
df.columns

Index(['Id', 'Document_No', 'Block_no', 'New_tablecol', 'Locality', 'Doct_no',
       'Execution_Date', 'East', 'Extent', 'North', 'Page_no', 'Hno',
       'Jurisdiction', 'Pno', 'Presentation_Date', 'Plot', 'Reg_year',
       'Registration_Date', 'Req_no', 'Schedule_no', 'South', 'Sr_code',
       'Address', 'SyNo', 'TotalRecords', 'Village_Name', 'Ward_no', 'West',
       'Chargeable_Area', 'Plot_No', 'Transaction_Details', 'Building_Name',
       'Unit_No', 'CrDt', 'doc_id_copy', 'Compensation',
       'Property_Description', 'Encoded_html', 'Market_Price', 'Document_Name',
       'SRO_Code', 'SRO_Name', 'Buyer', 'Seller', 'Building_Type', 'Wing',
       'Floor_No', 'First_Seller', 'First_Buyer', 'Buyer_Type', 'Seller_Type',
       'Flag', 'City', 'State'],
      dtype='object')

In [202]:
df=df.drop(columns=['CrDt', 'doc_id_copy'],axis=1)

In [203]:
# df1=df[df['Flag']==1]

In [204]:
# df1

In [205]:
# df2=pd.read_sql('select * from altrr_database.tbl_telangana_final_igr',con=engine)

In [206]:
engine2 = create_engine("mysql://altrr_db:%s@192.168.0.20:3306/preFdb"% quote("altrr@2025"))

In [207]:
df.columns

Index(['Id', 'Document_No', 'Block_no', 'New_tablecol', 'Locality', 'Doct_no',
       'Execution_Date', 'East', 'Extent', 'North', 'Page_no', 'Hno',
       'Jurisdiction', 'Pno', 'Presentation_Date', 'Plot', 'Reg_year',
       'Registration_Date', 'Req_no', 'Schedule_no', 'South', 'Sr_code',
       'Address', 'SyNo', 'TotalRecords', 'Village_Name', 'Ward_no', 'West',
       'Chargeable_Area', 'Plot_No', 'Transaction_Details', 'Building_Name',
       'Unit_No', 'Compensation', 'Property_Description', 'Encoded_html',
       'Market_Price', 'Document_Name', 'SRO_Code', 'SRO_Name', 'Buyer',
       'Seller', 'Building_Type', 'Wing', 'Floor_No', 'First_Seller',
       'First_Buyer', 'Buyer_Type', 'Seller_Type', 'Flag', 'City', 'State'],
      dtype='object')

In [208]:
df['Plot_No']=df['Plot_No'].fillna(df['Plot'])

In [209]:
df.to_sql('tbl_telangana_final_igr',con=engine2,index=False,if_exists='append')

20532